#root .notfound {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $mainColor;
  max-width: none;

  &--title {
    text-align: center;
    font-size: 25rem;
    font-weight: bold;
    color: #fff;
  }
}